#play-section {
    margin-top: 5px;
}

.block {
    background-color: yellow;
    border: blue 3px solid;
    border-radius: 5px;
    width: 60px;
    height: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: -1px 1px;
    font-size: 30px;
}

.red {
    color: red;
}

.blue {
    color: blue;
}